@media screen and (max-width: 576px) {
	.bd-sidebar{
		left: -60vw;
		z-index: 1;
		overflow: hidden;
		transition:all .5s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear 0s;
	}
	.slide-out .bd-sidebar{
		
		width: auto;
		left: 0;
		z-index: 1;
		overflow: hidden;
		background-color: white;
		transition:all .5s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear 0s;
	}
	.bd-content{
		width: 100%;
		left: 0;
	}
}
